@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url(./assets/images/gbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 2vh 10vw;
}

.logoDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

