@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url(./assets/images/gbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 2vh 10vw;
}

.logoDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.nav-link {
    position: relative;
    transition: color 0.3s ease, transform 0.3s ease;
}
  
.nav-link::before {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
  
.nav-link:hover::before,
.nav-link.active::before {
    transform: scaleX(1);
}
  
.nav-link:hover {
    transform: scale(1.3);
}
  
.nav-link.active {
    transform: scale(1.3);
    color: #facc15;
}
  

